langchain==0.2.11
bs4==0.0.2
html2text==2024.2.26
lxml==5.2.2
sentence-transformers==3.0.1
langchain_openai==0.1.17
faiss-cpu==1.8.0.post1
langchain-community==0.2.10
tqdm==4.66.4
langchain-huggingface==0.0.3
tqdm==4.66.4
langchain-huggingface==0.0.3
scikit-learn==1.4.2
rank_bm25==0.2.2