langchain==0.3.19
langchain_community==0.3.18
bs4==0.0.2
html2text==2024.2.26
matplotlib==3.10.0
lxml==5.3.1
langchain_huggingface==0.1.2
openai==1.64.0
langchain-openai==0.3.7
faiss-cpu==1.10.0
python-dotenv==1.0.1
scikit-learn==1.6.1
rank_bm25==0.2.2
ragas==0.2.13
rapidfuzz==3.12.1